{% extends 'base.html.twig' %}

{% block title %} Mon compte - E Commerce {% endblock %}

{% block body %}
<h1> Mon compte</h1>
 Bienvenue {{ app.user.firstname }} dans votre compte. <br/>
 C'est dans cette espace que vous allez gérer toutes vos informations personnelles.
 <hr>
  <br/>
    - <a href="{{ path('account_password') }}">Modifier mon mots de passe</a><br/>
    - <a href="{{ path('account_address') }}">Gérer mes adresses </a><br/>
    - <a href="{{ path('account_order') }}">Mes commandes </a><br/>
 <hr>
{% endblock %}
