{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %} 
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
